@model BarberShopSystem.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTelefono)
        </dd>
    </dl>
    <hr />
    <h2>Reservas:</h2>
    <ul>
        @foreach (var reserva in Model.Reservas)
        {
            <li>
                <strong>Fecha de Reserva:</strong> @reserva.Fecha<br />
                <strong>Estado de Reserva:</strong> @((reserva.EstadoReserva) ? "Confirmada" : "Pendiente")<br />
                <strong>Nombre del Profesional:</strong> @(reserva.Profesional != null ? reserva.Profesional.Nombre : "No asignado")<br />
                <strong>Fecha de Creación:</strong> @reserva.FechaCreacion<br />
                <strong>Descripción del Servicio:</strong> @reserva.Servicio?.Descripcion ?? "Sin descripción"<br />
                <strong>Hora de Inicio:</strong> @reserva.Cupo?.HoraInicio.ToString("HH:mm") ?? "Sin información"<br />
                <strong>Hora de Fin:</strong> @reserva.Cupo?.HoraFin.ToString("HH:mm") ?? "Sin información"<br />
                <strong>Novedad:</strong> @(string.IsNullOrEmpty(reserva.Novedad) ? "Sin novedades" : reserva.Novedad)<br />
            </li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
